{% extends "base.html" %}
{% block content %}


<div class="container mt-4">
  <h2>Editar Especialidad</h2>

  <form method="POST">

    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text"
             name="nombre"
             class="form-control"
             value="{{ especialidad.nombre }}"
             required>
    </div>

    <div class="mb-3">
      <label>Ícono</label>
              <select name="icono" class="form-select" required>
                <option value="mdi-stethoscope">Estetoscopio</option>
                <option value="mdi-heart-pulse">Cardiología</option>
                <option value="mdi-tooth-outline">Odontología</option>
                <option value="mdi-brain">Neurología</option>
                <option value="mdi-human-baby-changing-table">Pediatría</option>
                <option value="mdi-ear-hearing">Otorrinolaringología</option>
                <option value="mdi-kidneys">Nefrología</option>
                <option value="mdi-stomach">Gastroenterología</option>
                <option value="mdi-lungs">Neumología</option>
                <option value="mdi-human-pregnant">Ginecología / Obstetricia</option>
                <option value="mdi-baby-face-outline">Neonatología</option>
                <option value="mdi-bone">Traumatología</option>
                <option value="mdi-eye-outline">Oftalmología</option>
                <option value="mdi-flask-outline">Laboratorio</option>
                <option value="mdi-ambulance">Emergencias</option>
              </select>
    </div>

    <div class="mb-3">
      <label>Color</label>
              <select name="color" class="form-select" required>
                <option value="primary">Azul</option>
                <option value="success">Verde</option>
                <option value="warning">Amarillo</option>
                <option value="danger">Rojo</option>
                <option value="secondary">Gris Oscuro</option>
                <option value="info">Celeste</option>
                <option value="light">Gris Claro</option>
                <option value="dark">Negro</option>
              </select>
    </div>

    <button type="submit" class="btn btn-primary">
      Guardar Cambios
    </button>

    <a href="{{ url_for('especialidades') }}" class="btn btn-secondary">
      Cancelar
    </a>

  </form>
</div>


{% endblock %}