body{
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color:  #1E1E1E; 
    color: #FFFFFF; 
}

.titulo-03 {
  font-size: 28px;
  color: #00E5FF;
  margin-bottom: 10px;
  text-align: center;
}


.parrafo {
  font-size: 18px;
  color: #E0E0E0;
  line-height: 1.6;
}

.img-05 {
    
  display: block;
  margin: 20px auto;
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

nav li{
    list-style: none;
}
nav li a {   
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #00E5FF;
  color: #121212;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}
nav li a:hover {
  background-color: #07a1bc;
}


.contenido {
  max-width: 1800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 12px;
}

