body{
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #1E1E1E; 
    color: #FFFFFF; 
}
header {
    background-color: #00E5FF; 
    text-align: center;
    padding: 20px;
}
.titulo-01{
    font-size: 3rem;
    color: #121212
}
.titulo-02{
  text-align: center;
  font-size: 29px;
  color: #00E5FF;
  margin-bottom: 30px;
  margin-left: 0px;
}

.titulo-04{
    padding: 16px 50px;
    font-size: 26px;
    color: #feffff
}
.tabla{
    text-align: center;
}


.video-01{
    display: block;
    margin: 46px;
    width: 640px;
    height: 360px;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: #00E5FF;
    color: #121212;
}

/* Color normal del enlace */
a {
  color: #00E5FF; 
  text-decoration: none; 
  font-weight: bold;
  font-size: 20px;
  padding: 20px
}

/* Color cuando el mouse pasa por encima */
a:hover {
  color: #FF4081; 
  text-decoration: underline; 
}



/* Contenedor: centra y limita el ancho total */
.tabla-container{
  max-width: 320px;              
  margin: 24px auto;
  padding: 16px 20px;
  background: #1E1E1E;
  border-radius: 12px;
  box-shadow: 0 10px 24px rgba(0,0,0,0.35);
}

/* Título */
.tabla-titulo{
  margin: 0 0 12px 0;
  color: #00E5FF;
  font-size: 26px;
  text-align: center;        
}

/* Tabla base moderna */
.tabla-pro{
  border-collapse: collapse;
  background: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
}

/* Ajuste fino para “encoger” al contenido */
.tabla-fit{
  width: max-content;      
  max-width: 100%;         
}

/* Estética */
.tabla-pro thead tr{ background: #00E5FF; color:#0c1a1f; }
.tabla-pro th, .tabla-pro td{ padding: 10px 14px; text-align: left; }
.tabla-pro tbody tr:nth-child(even){ background:#303030; }
.tabla-pro tbody tr:hover{ background:#353535; transition: background .25s; }

.tabla-caption{
  caption-side: bottom;
  font-size: 13px;
  color: #A7ADB4;
  padding-top: 8px;
}

/* Tipos de letra para los code */
code{
  background:#161718;
  color:#cfe9ff;
  padding: 2px 6px;
  border-radius:6px;
  font-family: ui-monospace, Menlo, Consolas, monospace;
}


.formulario {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #1E1E1E;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  color: #E0E0E0;
  font-family: 'Poppins', sans-serif;
}

.form-group {
  margin-bottom: 16px;
  max-width: 350px;              
  padding: 16px 50px;
  background: #1E1E1E;
  border-radius: 12px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #121212;
  color: #E0E0E0;
}

input::placeholder {
  color: #A7ADB4;
}

.btn-enviar {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: #00E5FF;
  color: #121212;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-enviar:hover {
  background-color: #00BCD4;
}




